{% extends 'base.html.twig' %}

{% block title %}Position index{% endblock %}

{% block body %}
    <h1>Position index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Place</th>
                <th>Company</th>
                <th>Description</th>
                <th>Other</th>
                <th>Technologies</th>
                <th>Salary</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for position in positions %}
            <tr>
                <td>{{ position.id }}</td>
                <td>{{ position.name }}</td>
                <td>{{ position.place }}</td>
                <td>{{ position.company }}</td>
                <td>{{ position.description }}</td>
                <td>{{ position.other }}</td>
                <td>{{ position.technologies }}</td>
                <td>{{ position.salary }}</td>
                <td>
                    <a href="{{ path('position_show', {'id': position.id}) }}">show</a>
                    <a href="{{ path('position_edit', {'id': position.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('position_new') }}">Create new</a>
{% endblock %}
